<section data-animation="animate-slide-right" class="section relative pt-20 pb-12 bg-white z-40   lg:pt-[120px]
lg:pb-[90px]
 ">
  <div class="container mx-auto bg-white ">
    <div class="flex flex-wrap items-center justify-center -mx-4">
      <div class="w-full px-4 lg:w-4/12 animate-fade-left animate-delay-400 animate-once " >
        <div class="flex items-center -mx-3 sm:-mx-4">
          <div class="w-full px-3 sm:px-4 xl:w-1/2">
            <div class="py-3 sm:py-1">
              <img src="assets/about/1.jpg" alt="" class=" w-full lg:w-[16rem]  p-1 md:p-0  lg:h-[16rem] rounded-2xl" />
            </div>
            <div class="py-3 sm:py-4">
              <img src="assets/about/n.jpg" alt="" class=" w-full lg:w-[16rem]  p-1 md:p-0  lg:h-[16rem] rounded-2xl" />
            </div>
          </div>
          <div class="w-full px-3 sm:px-4 xl:w-1/2">
            <div class="relative my-4 ">
              <img src="assets/about/about.png" alt=""
                class="w-full lg:w-[16rem] p-1 md:p-0 lg:h-[22rem] rounded-2xl" />

            </div>
          </div>
        </div>
      </div>

      <div class="w-full px-4 lg:w-1/2 xl:w-5/12 animate-fade-left animate-delay-400 animate-once ">
        <div class="p-5 mt-10 lg:mt-0 lg:ml-4">
          <h1 class="block mb-4 text-2xl font-semibold w-fit underline1 ">
            {{"AboutMe" | translate}}

          </h1>

          <h2 class="mb-5 text-3xl font-bold text-dark  sm:text-[40px]/[48px]">
          </h2>
          <p class="mb-5 text-base text-body-color dark:text-dark-6">
            {{"aboutDesc" | translate}}
          </p>
          <p class="mb-4 text-base text-body-color dark:text-dark-6">
            {{"about2" | translate}}

          </p>
          <div class="flex flex-col mb-8 space-y-4 lg:mb-16 sm:flex-row sm:space-y-0 sm:space-x-1">

            <button class="relative overflow-hidden border-[#3C5A62]  hover:cursor-pointer  px-7 py-3 md:border-2 rounded-tl-[206.22px] rounded-br-[206px]
            text-[#3C5A62] transition-all border  shadow-2xl before:ease before:absolute before:top-1/2
            before:h-0 before:w-64 before:origin-center before:-translate-x-20 before:rotate-45
             before:bg-[#3C5A62] before:duration-300 hover:text-white hover:shadow-[#3C5A62] hover:before:h-64 hover:before:-translate-y-32">

              <a to="contact" href="assets/cv.pdf"     class="relative z-10 font-bold" download smooth={true} offset={-200} duration={500}>
                {{"aboutButton" | translate}}
              </a>
            </button>
            <button routerLink="https://www.linkedin.com/in/soukaina-mourabit-253a33240" class="relative overflow-hidden border-[#3C5A62]  hover:cursor-pointer  px-7 py-3 md:border-2 rounded-tl-[206.22px] rounded-br-[206px]
            text-[#3C5A62] transition-all border  shadow-2xl before:ease before:absolute before:top-1/2
            before:h-0 before:w-64 before:origin-center before:-translate-x-20 before:rotate-45
             before:bg-[#3C5A62] before:duration-300 hover:text-white hover:shadow-[#3C5A62] hover:before:h-64 hover:before:-translate-y-32">

              <a    class="relative z-10 font-bold"  target="_blank">
                {{"visitLinkdn" | translate}}
              </a>
            </button>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
