<div class="relative p-6 bg-white sm:p-12 md:p-20">
  <div class="grid grid-cols-1 gap-4 sm:grid-cols-1 md:grid-cols-[1fr,2fr,2fr,1fr] md:grid-rows-[2fr,1fr,1fr,2fr]">
    <!-- <div class="col-span-1 row-span-2 p-6 sm:col-span-1 md:col-span-3 bg-slate-400 sm:p-12 lg:p-[9rem]">1</div> -->
    <div class="col-span-1 row-span-2 p-6 bg-gray-700 sm:p-12 lg:p-28 md:col-span-3">
      <div class="flex items-center justify-between mb-6">
          <h3 class="text-xl font-semibold text-white">Hi, I'm Soukaina</h3>
          <div class="flex gap-3">
              <img src="assets/github.png" alt="GitHub" class="w-9 h-9">
              <img src="assets/gm.png" alt="Gmail" class="w-9 h-9">
              <img src="assets/linkdn.png" alt="LinkedIn" class="w-9 h-9">
          </div>
      </div>
      <h1 class="pb-3 text-5xl font-semibold text-white">All Projects</h1>
      <p class="mb-8 text-lg font-normal text-gray-300 lg:text-2xl">Frontend and Full-Stack websites using different technologies like Laravel, React, Angular, .NET, Tailwind CSS.</p>
  </div>


    <div class="col-start-1 row-span-2 p-6 sm:col-start-1 md:col-start-4 bg-slate-400 sm:p-12 lg:p-[9rem]">2</div>
    <div class="col-start-1 row-span-2 p-6 md:col-span-2 md:row-span-4 bg-slate-400 sm:p-12 lg:p-[9rem]">3 i wnat this
      to take two columns and two rows in large screens</div>
    <div
      class="col-span-1 col-start-1 row-span-2 row-start-3 p-6 sm:col-span-1 md:col-span-2 sm:col-start-1 md:col-start-3 md:row-span-2 bg-slate-400 sm:p-12 lg:p-[9rem]">
      4</div>
    <!-- <div class="col-span-1 row-span-2 row-start-5 p-6 md:col-span-2 bg-slate-400 sm:p-12 md:p-20">5</div> -->
    <div
      class="col-span-1 col-start-1 row-span-2 row-start-5 p-6 sm:col-span-1 md:col-span-2 sm:col-start-1 md:col-start-3 bg-slate-400 sm:p-12 lg:p-[9rem]">
      6</div>
    <div
      class="col-span-1 col-start-1 row-span-2 row-start-7 p-6 sm:col-span-1 md:col-span-3 bg-slate-400 sm:col-start-1 md:col-start-2 sm:p-12 lg:p-[9rem]">
      7</div>
    <div class="col-start-1 row-span-2 row-start-7 p-6 sm:col-start-1 md:col-start-1 bg-slate-400 sm:p-12 lg:p-[9rem]">8
    </div>
  </div>
</div>
